<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaya Psychotherapy</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/mystyle.css">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Kaya Psychotherapy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {{#if activeLinks.home}}active{{/if}}{{#unless activeLinks.home}}grow{{/unless}}" href="index">Home</a>
                    <a class="nav-link {{#if activeLinks.about}}active{{/if}}{{#unless activeLinks.about}}grow{{/unless}}" href="about">About</a>
                    <a class="nav-link {{#if activeLinks.contact}}active{{/if}}{{#unless activeLinks.contact}}grow{{/unless}}" href="contact">Contact</a>
                    <a class="nav-link {{#if activeLinks.services}}active{{/if}}{{#unless activeLinks.services}}grow{{/unless}}" href="services">Services</a>
                    <a class="nav-link {{#if activeLinks.FAQ}}active{{/if}}{{#unless activeLinks.FAQ}}grow{{/unless}}" href="FAQ.html">FAQ</a>
                    <a class="nav-link {{#if activeLinks.resources}}active{{/if}}{{#unless activeLinks.resources}}grow{{/unless}}" href="resources">Resources</a>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br>
    <!-- Logo -->
    <div class="container">
        <img src="./images/logo.png" alt="Kaya Psychotherapy Logo" id="logo" class="center borders">
    </div>

    <!-- Main -->
    {{{body}}}

<!-- Footer -->    
    <br><br><br>
    <footer class="footer mt-auto py-1 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">435 Newbury St Suite 206</p>
                    <p class="mb-0">Danvers, MA 01923-1065</p>
                    <p class="mb-0"><a href="mailto:kayapsychotherapy@gmail.com">kayapsychotherapy@gmail.com</a></p>
                    <p class="mb-0">978-219-7111</p>
                </div>
                <div class="col-md-6">
                    <p class="mb-0">©2023 by Kaya Psychotherapy PLLC.</p>
                    <br>
                    <p class="mb-0">Created by Zach Albanese</p>
                    <p class="mb-0">Contact site creator at: <a href="mailto:zachalba@uri.edu">zachalba@uri.edu</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="./js/jquery.min.js"><\/script>')
    </script>
    <!-- Local JS-->
    {{{scripts}}}
</body>
</html>