<main>
    <br>
    <h1 class="headings">Welcome to Kaya Psychotherapy!</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 content">
                    This website is created to provide information about Kaya Psychotherapy, and allow users to access counseling services. It is broken into sections, which are currently under construction. 
                    This index page is a placeholder for the Home section. Content here will be updated. There will also be an About section, a Contact section, a Services/Scheduling section, a FAQ section, and a Resources section.
                </div>
                
                <div class="col-md-6">
                    <img src="./images/rocks_resize.jpg" alt="Stacked rocks" class="center borders">
                </div>
            </div>
            <br>
            <div class = "row">
                <div class="col-md-6 content">
                    <p>Site Map Information</p>
                    <ul> 
                        <li>Home: Content pending</li>
                        <li>About: Blurb about Raiza Felicitas and Kaya Psychotherapy, PsychologyToday profile </li>
                        <li>Contact: Form for contacting the business</li>
                        <li>Services & Scheduling: Links to schedule services</li>
                        <li>FAQ: FAQ page for answering questions</li>
                        <li>Resources: External resources for mental health, insurance, etc</li>
                    </ul>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </main>