<main>
    <br>
    <h1 class="headings">Services</h1>        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" style="text-decoration: none;" id="free">
                        <div class="card" id="card1">
                            <img src="images/slideshow/balance.jpg" class="card-img-top" alt="stacked rocks, balance">
                            <div class="card-body">
                                <h5 class="card-title">Free Initial Consultation</h5>
                                <p class="card-text">15 mins.</p>
                            </div>
                        </div>
                    </a>
                    <br>
                    <a href="#" style="text-decoration: none;" id="loadData">
                        <div class="card" id="card2">
                            <img src="images/slideshow/growing.jpg" class="card-img-top" alt="green sprout on a person's hand, growing">
                            <div class="card-body">
                                <h5 class="card-title">Online Psychotherapy</h5>
                                <p class="card-text">45 mins.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class = "col align-self-center content" id="result-container"style="display: none">
                </div>
            </div>
            <br><br><br>
    </main>